<aside>
  <ul>
    <li>
      {{#link-to "home"}}
        <h3>Home</h3>
        {{/link-to}}
    </li>
    <li>
      {{#link-to "likes"}}
        <h3>Likes</h3>
      {{/link-to}}</li>
    <li>
      {{#link-to "about"}}
        <h3>About</h3>
        {{/link-to}}</li>
  </ul>
</aside>

<div class="main-container">
  {{outlet}}
</div>
